# Tools are installed by the get_dependencies sub-command
tools/cc65
temp
# Run-length encoded files
graphics/*.rle.nam
graphics/*.rle.bin
graphics/*.rle.chr
# The output
rom
# the c
bruh.wav
CSV2C.py