# Tools are installed by the download-dependencies sub-command
tools
temp
# If you have this tool in the folder, don't commit it!
./create-nes-game.exe
./create-nes-game-win.exe
./create-nes-game
./create-nes-game-*
# Run-length encoded files
graphics/*.rle.nam
graphics/*.rle.bin
graphics/*.rle.chr
# The output
rom
# the c
bruh.wav
CSV2C.py